body 
{
  margin: 40px 75px;
  background-color: #eebff4;
  color: #5c3162;
}

/* Flexboxes */

header 
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex_container 
{
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav_bar 
{
  display: flex;
  gap: 15px;
}

/*  */

.underline 
{
  text-decoration: underline;
}

.signup_button 
{
  background-color: #5c3162;
  color: white;
  margin: -20px;
}
input
{
  border-radius: 12px;
  padding: 5px;
}

.full_img
{
    width: 120%;
    margin: 0px -75px;
}
.half_img
{
    width: 45%;
}
.logo
{
    width: 200px;
    object-fit: contain;
}
.icon
{
    width: 35px;
    object-fit: contain;
}