h1 
{
  text-decoration: underline;
  padding: 15px;
}
h2
{
  padding: 0px 0px 10px 15px;
}
h4
{
  padding: 25px 0px 0px 15px;  
}

.content
{
  margin: 20px;  
}

.cloud_image
{
  max-height: 100px;
}

#HarvestCarousel
{
  width: 200px;
}
#HarvestCarousel p 
{
  background-color: dimgray;
}